
html {
	background-color: #3697DC;
	background-image:url('pics/brushed_alu_dark.png');
	background-attachment:fixed;
}

body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#menycontainer {
	width: 160px;
	float: left;
	margin-left: -40px;
}

#meny {
	float: left;	
	list-style: none;
}



#meny a {
	text-decoration: none;
	background-color:#0000FF;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: block;
	padding: 10px; 
	width: 124px;
	margin: 5px 0;
	border-radius: 5px;
	background-image: url('pics/sprite.png');
	background-repeat: no-repeat;
}

#home {
	background-position: 120px -40px;
}

#home:hover {
	background-position: 120px 8px;
}

#laboration {
	background-position: 120px -135px;
}

#laboration:hover {
	background-position: 120px -87px;
}

#presentationen {
	background-position: 120px -230px;
}

#presentationen:hover {
	background-position: 120px -182px;
}

#contact {
	background-position: 120px -330px;
}

#contact:hover {
	background-position: 120px -282px;
}

#meny a:hover {
	background-color: #3399FF;
}

#meny .active a{
	border: 2px solid black;
	background-color: #3399FF;
}


#header {
	width: 100%;
}

#content {
	width: 614px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255, 0.7);
	border-radius: 15px;
	border: 1px solid black;
}

#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 15px;
	background-image:url('pics/grunge_wall.png');
	background-color: white;
	border: 2px solid black;
}

h1 {
	text-align: center;
	
}

#form {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

#footer {
	clear: both;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

IMG.logga {
    display: block;
    margin-left: auto;
    margin-right: auto;
	border: 4px solid white; 
}

.profil {
	border: 1px solid black;
}

p { 
	font-family:Arial, Helvetica, sans-serif;
}
