
html {
	background-image:url('pics/bakgrund.jpg');
	background-attachment:fixed;
}

#menycontainer {
	width: 160px;
	float: left;
	
}
#meny {
	list-style: none;
	width: 160px;
}


#meny a {
	text-decoration: none;
	background-color:#0000FF;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: block;
	padding: 10px; 
	width: 100px;
	margin: 5px 0;
	border-radius: 5px;
}

#meny a:hover {
	background-color: #3399FF;
}

#meny .active a{
	border: 2px solid black;
	background-color: #3399FF;
	
}	
body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	background-image:url('pics/ljudgrund.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	border: 2px solid black;
	
}


/* Titel*/
#header {
	width: 100%;
	
}
/* inlägg div-block */	

#parts {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background-color: rgba(255,255,255, 0);
}

/* Inlägg */
.post {
	box-shadow: 10px 10px 5px #242424;
	border: 2px #808080;
	border-radius: 15px;
	background-color: white;
	background-color: rgba(255,255,255, 0.6);
	padding: 5px;	
	margin-top: 20px;
}

#form {
	margin-left: 160px;
}

h1 {
	text-align: center;
}

#content {
	margin-left: auto;
	margin-right: auto;	
}

#footer {
	clear: both;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

IMG.logga {
    display: block;
    margin-left: auto;
    margin-right: auto; 
	border: 4px solid white;
}

.time {
	font-style:italic
}

.right {
	float: right;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}