
html {
	background-color: #3697DC;
	background-image:url('pics/brushed_alu_dark.png');
	background-attachment:fixed;
}

#menycontainer {
	width: 160px;
	float: left;
	margin-left: -40px;
	
}
#meny {
	list-style: none;

}


#meny a {
	text-decoration: none;
	background-color:#0000FF;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: block;
	padding: 10px; 
	width: 124px;
	margin: 5px 0;
	border-radius: 5px;
	background-image: url('pics/sprite.png');
	background-repeat:no-repeat;



}

#home {
	background-position: 120px -40px;
}

#home:hover {
	background-position: 120px 8px;
}

#laboration {
	background-position: 120px -135px;
}

#laboration:hover {
	background-position: 120px -87px;
}

#presentationen {
	background-position: 120px -230px;
}

#presentationen:hover {
	background-position: 120px -182px;
}

#contact {
	background-position: 120px -330px;
}

#contact:hover {
	background-position: 120px -282px;
}
#meny a:hover {
	background-color: #3399FF;
}

#meny .active a{
	border: 2px solid black;
	background-color: #3399FF;
	
}	
body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	background-image:url('pics/grunge_wall.png');
	background-color: white;
	border: 2px solid black;
	
}


/* Titel*/
#header {
	width: 100%;
	
}
/* inlägg div-block */	

#parts {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background-color: rgba(255,255,255, 0);
}

/* Inlägg */
.post {
	box-shadow: 5px 5px 5px rgba(0,0,0, 0.5);
	border: 20px black;
	border-radius: 15px;
	background-color: white;
	background-color: rgba(255,255,255, 0.5);
	padding: 5px;	
	margin-top: 20px;
}

#form {
	margin-left: 160px;
}

h1 {
	text-align: center;
}

#content {
	margin-left: auto;
	margin-right: auto;	
}

#footer {
	clear: both;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

IMG.logga {
    display: block;
    margin-left: auto;
    margin-right: auto; 
	border: 4px solid white;
}

.time {
	font-style:italic
}

.right {
	float: right;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}